
#messagetoolbar a.button.snooze {
	text-indent: -5000px;
	background: url(snooze_act.png) 0 0 no-repeat;
}

#mailboxlist li.mailbox.snooze > a {
	background-image: url(foldericon.png);
	background-position: 5px 1px;
}

